
<h2>Lista de Usuarios</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Usuario</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Doe</td>
            <td>.com</td>
            <td>johndoe123</td>
            <td>70 kg</td>
            <td>180 cm</td>
            <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </td>
        </tr>
        <!-- Aquí puedes agregar más filas con usuarios -->
    </tbody>
</table>

